<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition"/>
  </configSections>
  <modules>
    <module assemblyFile="Zhichkin.Metadata.Module.dll" moduleType="Zhichkin.Metadata.ModuleInit, Zhichkin.Metadata.Module, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Zhichkin.Metadata" startupLoaded="true"/>
    <module assemblyFile="Zhichkin.Hermes.Module.dll" moduleType="Zhichkin.Hermes.ModuleManager, Zhichkin.Hermes.Module, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Zhichkin.Hermes" startupLoaded="true">
      <dependencies>
        <dependency moduleName="Zhichkin.Metadata"/>
      </dependencies>
    </module>
    <!--
    <module assemblyFile="Zhichkin.Integrator.Module.dll" moduleType="Zhichkin.Integrator.ModuleInit, Zhichkin.Integrator.Module, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Zhichkin.Integrator" startupLoaded="true">
      <dependencies>
        <dependency moduleName="Zhichkin.Metadata"/>
      </dependencies>
    </module>
    <module assemblyFile="Zhichkin.DXM.Module.dll" moduleType="Zhichkin.DXM.ModuleInit, Zhichkin.DXM.Module, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Zhichkin.DXM" startupLoaded="true">
      <dependencies>
        <dependency moduleName="Zhichkin.Metadata"/>
      </dependencies>
    </module>
    -->
  </modules>
  <appSettings>
    <add key="MetadataCatalog" value="C:\Users\User\Desktop\Z\debug"/>
  </appSettings>
  <connectionStrings>
    <add name="TEST" connectionString="Server=ZHICHKIN;Integrated Security=true;Initial Catalog=rg;" providerName="System.Data.SqlClient"/>
    <!-- Server=ZHICHKIN;Initial Catalog=Z;Persist Security Info=False;User ID=sa;Password=sa; -->
    <add name="Zhichkin.Metadata" connectionString="Server=ZHICHKIN;Integrated Security=true;Initial Catalog=Z;" providerName="System.Data.SqlClient"/>
    <!--<add name="Zhichkin.Integrator" connectionString="Server=ZHICHKIN;Integrated Security=true;Initial Catalog=Z;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Zhichkin.DXM" connectionString="Server=ZHICHKIN;Integrated Security=true;Initial Catalog=Z;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
