<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="ServerURL" value="http://localhost:5000"/>
  </appSettings>
  <connectionStrings>
    <add name="Zhichkin.Metadata" connectionString="Data Source=ZHICHKIN;Initial Catalog=one-c-sharp;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
