<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Zhichkin.Metadata" connectionString="Server=ZHICHKIN;Integrated Security=true;Initial Catalog=zhichkin;" providerName="System.Data.SqlClient" />
    <add name="Zhichkin.Integrator" connectionString="Server=ZHICHKIN;Integrated Security=true;Initial Catalog=zhichkin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="Schedule" value="10" />
  </appSettings>
</configuration>